.contact-1st-section-wrapper {
    display: flex;
    padding-top: 50px;
    margin-bottom: 100px;
}

.contact-flex-content-wrapper {
    
}
.contact-flex-content-wrapper1 {
    width: 40%;
}
.contact-flex-content-wrapper2 {
    width: 50%;
    margin-inline: auto;
}
.contact-flex-content-inner {
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 rgb(39 25 77 / 2%), 0 3px 20px 0 rgb(112 81 239 / 4%), 0 10px 28px 0 rgb(39 25 77 / 3%);
}
.input-block-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.input-wrapper {
    width: 100%;
}
.input-wrapper input {
    background-color: #f7f7fa;
    border: 1.5px solid #f7f7fa;
    padding: 10px 35px 10px 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #263238;
    transition: all .3s;
}
.input-wrapper textarea {
    background-color: #f7f7fa;
    border: 1.5px solid #f7f7fa;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #263238;
    transition: all .3s;
    resize: none;
}
.input-wrapper p {
    padding: 10px 35px 10px 10px;
    font-size: 9px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #263238;
    transform: translateY(34px);
    width: 0;
    transition: all .3s;
    user-select: none;
    cursor: text;
}
.input-wrapper input:focus, .input-wrapper textarea:focus {
    outline: none;
    border: 1.5px solid #ff8c92;
}
.input-wrapper input:hover, .input-wrapper textarea:hover {
    border: 1.5px solid #ff8c92;
}
.input-wrapper span {
    font-size: 8px;
    color: #ff0000;
    padding-left: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
#company-span {
    color: #263238;
}
.nameInput {
    background-image: url('/name-input.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-position: 95% 45%;
    background-size: auto;
}
.emailInput {
    background-image: url('/email-Input.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-position: 95% 45%;
    background-size: auto;
}
.companyInput {
    background-image: url('/company.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-position: 95% 45%;
    background-size: auto;
}
.subjectInput {
    background-image: url('/subject.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-position: 95% 45%;
    background-size: auto;
}
.send-btn-wrapper {
    margin-top: 15px;
    width: 100%;
}
.send-btn-wrapper button {
    background-color: #ff8c92;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
    font-family: 'Bakbak One', cursive;
    font-weight: 400;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    margin-inline: auto;
    width: 130px;
}
.form-btm-content-wrapper {
    margin-top: 30px;
}
.divider {
    background-color: #e5e5ea;
    height: 0.9px;
}
.form-socials-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-block: 20px;
}
.form-socials-wrapper div {
    font-weight: 600;
    color: #263238;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 20px;
}
.form-social-inner-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.form-social-inner-wrapper img {
    width: 30px;
    border-radius: 10px
}
.contact-info-wrapper {
    margin-top: 20px;
}
.contact-info-wrapper h4 {
    font-family: 'Bakbak One';
    font-weight: 400;
    color: #263238;
    font-size: 12px;
    text-align: center;
}
.contact-info-inner-wrapper {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.contact-details-container {
    line-height: 0.8rem;
}
.contact-details-container p {
    font-family: 'Bakbak One', cursive;
    font-weight: 400;
    color: #263238;
    font-size: 12px;
}
.contact-details-container span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #263238;
    font-size: 10px;
}
.contact-details-container form button {
    background-color: #0000;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #263238;
    font-size: 10px;
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 1020px) {
    .contact-flex-content-wrapper2 {
        width: 60%;
    }
}
@media (max-width: 800px) {
    .contact-info-inner-wrapper {
        margin-top: 20px;
    }
    .form-socials-wrapper div {
        height: auto;
    }
    .contact-1st-section-wrapper {
        padding-inline: 5%;
        gap: 50px;
        flex-direction: column-reverse;
    }
    .contact-flex-content-wrapper2 {
        width: 100%;
    }
    .contact-flex-content-wrapper1 {
        width: 100%;
        
    }
    .contact-info-wrapper h4 {
        text-align: left;
    }

}

@media (max-width: 500px) {
    .input-block-wrapper {
        flex-direction: column;
        gap: 0px;
    }
    .form-socials-wrapper {
        flex-direction: column;
        gap: 10px;
    }
    .form-social-inner-wrapper {
        justify-content: left;
    }
    .input-wrapper input, .input-wrapper textarea {
        font-size: 14px;
    }
    .input-wrapper p {
        font-size: 12px;
        transform: translateY(40px);
    }
    .input-wrapper span {
        font-size: 12px;
    }
    .input-wrapper input {
        padding: 12px 35px 12px 12px;
    }
    .form-social-inner-wrapper img {
        width: 45px;
    }
    .contact-info-wrapper h4 {
        font-size: 16px;
    }
    .contact-details-container p {
        font-size: 15px;
    }
    .contact-details-container span {
        font-size: 12px;
    }
    .contact-details-container {
        line-height: 0.9rem;
    }
    .contact-details-container form button {
        font-size: 12px;
    }
}

@media (min-width: 1300px) {
    .contact-info-wrapper h4 {
        font-size: 20px;
    }
    .contact-details-container p {
        font-size: 15px;
    }
    .contact-details-container span {
        font-size: 13px;
    }
    .contact-info-inner-wrapper {
        margin-top: 40px;
    }
    .input-block-wrapper {
        margin-top: 15px;
    }
    .input-wrapper input {
        padding: 13px 35px 13px 13px;
        font-size: 15px;
    }
    .input-wrapper textarea {
        padding: 13px 13px 13px 13px;
        font-size: 15px;
    }
    .input-wrapper p {
        font-size: 12px;
        transform: translateY(40px);
    }
    .send-btn-wrapper button {
        font-size: 18px;
        width: 180px;
        padding: 10px 20px;
    }
    .form-socials-wrapper div {
        font-size: 18px;
    }
    .form-social-inner-wrapper img {
        width: 50px;
    }
    .form-socials-wrapper {
        margin-block: 60px;
    }
    .send-btn-wrapper {
        margin-top: 25px;
    }
    .contact-1st-section-wrapper {
        padding-top: 70px;
    }
    .contact-info-wrapper {
        margin-top: 30px;
    }
    .input-wrapper span {
        font-size: 11.5px;
    }
}


@media (min-width: 1400px) {}