.home-head-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.home-head-wrapper {
    padding-top: 50px;
}
.home-head-inner-content {

}
.home-head-inner-content img {
    max-width: 100%;
}
.intro-container {
    line-height: 3rem;
}
.intro-container h3 {
    font-size: 28px;
    font-family: 'Bakbak One', cursive;
    font-weight: 800;
    color: #263238;
    letter-spacing: 1.5px;
}
.intro-container h1 {
    font-size: 40px;
    font-family: 'Bakbak One', cursive;
    font-weight: 800;
    color: #263238;
    letter-spacing: 2px;
}

.intro-container p {
    font-size: 40px;
    font-weight: 600;
    color: #ff8c92;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}
.intro-container p span {
    color: #263238;
}
.home-head-btm-btns-wrapper {
    display: flex;
    align-items: center;
    margin-top: 28px;
    gap: 44px;
}
.home-head-btm-btns-wrapper a {
    text-decoration: none;
}
.contact-me-btn {
    background-color: #263238;
    border: 3px solid #263238;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
    border-radius: 9999px;
    padding-block: 16px;
    padding-inline: 44px;
    text-decoration: none;
}
.contact-me-btn:hover {
    background-color: #fff;
    color: #263238;
}
.browse-cv-btn:hover {
    background-color: #ff8c92;
    color: #fff;
}
.browse-cv-btn {
    border: 3px solid #ff8c92;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #263238;
    border-radius: 9999px;
    padding-block: 16px;
    padding-inline: 44px;
    text-decoration: none;
}

.contact-me-btn, .browse-cv-btn {
    transition: all .3s;
}
.contact-me-btn:hover, .browse-cv-btn:hover {
    /* transform: scale(1.05); */
}
.intro-msg-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #263238;
    margin-top: 12px;
    line-height: 1.8rem;
    text-align: justify;
    width: 80%;
    font-size: 12px;
}
.typewriter_container p {
    font-size: clamp(1.5rem, 1.1vw + 1rem, 1.7rem);
    font-weight: 600;
    color: #263238;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.typewriter_container span {
    color: #ff8c92;
    font-size: clamp(1.5rem, 1.1vw + 1rem, 1.7rem);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.home-second-section-wrapper {
    margin-top: 50px;
    margin-bottom: 100px;
}
.home-second-section-inner {

}
.section-title-wrapper {
    font-size: 25px;
    font-family: 'Bakbak One', cursive;
    font-weight: 800;
    color: #263238;
}
.section-title-btn-icon {
    width: 80px;
    background-color: #ff8c92;
    padding-block: 3px;
}
.home-second-section-inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    column-gap: 70px;
    padding-inline: 20px;
}
.expertise-wrapper {
    position: relative;
    max-width: 250px;
    min-height: 380px;
    margin-inline: auto;
    border-radius: 20px;
    transition: all .4s;
    box-shadow: 0 0 5px 0 rgba(39, 25, 77, 0.02), 0 3px 20px 0 rgba(112, 81, 239, 0.04), 0 10px 28px 0 rgba(39, 25, 77, 0.03);
}
.expertise-wrapper img {
    width: 100px;
    margin-inline: auto;
}

.expertise-wrapper:hover {

}

.expertise-wrapper h3 {
    font-size: 15px;
    font-family: 'Bakbak One', cursive;
    font-weight: 800;
    color: #263238;
}
.expertise-wrapper p {
    font-weight: 600;
    color: #263238;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    line-height: 2rem;
}
.contact-me-btn2 a {
    margin-inline: auto;
}
.contact-me-btn2 a button {
    margin-inline: auto;
    background-color: #ff8c92;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Bakbak One', cursive;
    font-weight: 800;
    color: #fff;
    font-size: 14px;
}
.home-3rd-section-content-wrapper {
    margin-top: 50px;
}

.port-sec-wrap img {
    /* max-width: 100%; */
    /* height: 100%; */
}
.port-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 150px;
    /* height: 580px; */
}

.project-wrapper {
    padding: 20px 20px 40px 20px;
    max-height: 680px;
    box-shadow: 0 0 5px 0 rgba(39, 25, 77, 0.02), 0 3px 20px 0 rgba(112, 81, 239, 0.04), 0 10px 28px 0 rgba(39, 25, 77, 0.03);
    border-radius: 20px;
}
.project-img-wrapper {
    /* height: 50%; */
}
.project-img-wrapper img {
    /* height: 370px; */
    max-width: 100%;
    border-radius: 20px;
}
.project-content-wrapper {
    padding-inline: 30px;
    margin-top: -12px;
}
.project-title-btn {
    background-color: #ffe7e7;
    color: #ff8c92;
    padding: 6px 10px;
    border-radius: 10px;
    font-family: 'Bakbak One', cursive;
    font-weight: 800;
    margin-top: -20px;
    width: 130px;
    font-size: 13px;
}
.project-txt-content {
    margin-top: 20px;
}
.project-txt-content h3 {
    font-family: 'Bakbak One', cursive;
    font-weight: 800;
    color: #263238;
    font-size: 15px;
}
.project-txt-content p {
    font-weight: 600;
    color: #263238;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 2rem;
    margin-top: 15px;
}
.project-txt-content button {
    background-color: #ff8c92;
    margin-top: 15px;
    padding: 8px 12px;
    border-radius: 8px;
    font-family: 'Bakbak One', cursive;
    font-weight: 800;
    color: #fff;
    font-size: 12px;
}
.socials-wrapper p {
    font-weight: 600;
    color: #263238;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.home-4th-section-wrapper {
    background-color: #ff8c92;
    padding-bottom: 100px;
    padding-top: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    gap: 100px;
}
.home-4th-section-inner {
    width: 50%;
}
.home-4th-section-inner a button {
    margin-inline: auto;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Bakbak One', cursive;
    font-weight: 800;
    color: #ff8c92;
    font-size: 14px;
    margin-top: 30px;
}
.home-4th-section-inner img {
    width: 80%;
    margin-inline: auto;
}
.section-title-btn-icon2 {
    background-color: #fff;
    margin-bottom: 10px;
}
.home-4th-section-inner h2 {
    font-family: 'Bakbak One', cursive;
    font-weight: 800;
    font-size: 35px;
    line-height: 3.5rem;
    color: #fff;
}
.home-5th-section-wrapper {
    margin-bottom: 100px;
}

@media (max-width: 1020px) {
    .intro-msg-p {
        width: none;
    }
}