.nav-bar-main, .home-head-wrapper, .home-second-section-wrapper, .home-3rd-section-wrapper, .home-4th-section-wrapper {
    padding-inline: 9%;
}
.logo-wrapper img {
    width: 60px ;
}
.nav-innner {
    /* justify-content: space-between; */
}
.lets-chat-btn button {
    border: 3px solid #ff8c92;
    background-color: #fff;
    font-family: 'Bakbak One', cursive;
    color: #263238;
    font-size: 12px;
}
.navigator-lists li span {
    font-family: 'Bakbak One', cursive;
    font-size: 13px;
    transition: all .2s;
    cursor: pointer;
    color: #263238;
}

.navigator-lists li span:hover {
    color: #ff8c92;
}


@media (min-width: 1440px) {
    .nav-bar-main, .home-head-wrapper, .home-second-section-wrapper, .home-3rd-section-wrapper, .home-4th-section-wrapper {
        padding-inline: 8%;
    }
}

@media (min-width: 1800px) {
    .nav-bar-main, .home-head-wrapper, .home-second-section-wrapper, .home-3rd-section-wrapper, .home-4th-section-wrapper {
        padding-inline: 13%;
    }
}
