.nav-bar-main, .home-head-wrapper, .home-second-section-wrapper, .home-3rd-section-wrapper, .home-4th-section-wrapper, .home-5th-section-wrapper, .about-head-wrapper {
    padding-inline: 9%;
}
.logo-wrapper img {
    width: 60px ;
}
.nav-innner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigator-lists-wrapper {
    display: flex;
    align-items: center;
    gap: 128px;
}
.navigator-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 36px;
}
.lets-chat-btn {
    display: flex;
    align-items: center;
    gap: 15px;
}
.hamburger-wrapper {
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 12px;
    display: none;
    box-shadow: 0 1px 12px 6px rgb(234 76 137 / 9%);
    cursor: pointer;
}
.lets-chat-btn button {
    border: 3px solid #ff8c92;
    background-color: #fff;
    font-family: 'Bakbak One', cursive;
    color: #263238;
    font-size: 12px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding-block: 8px;
    padding-inline: 20px;
}
.lets-chat-btn a {
    text-decoration: none;
}
.navigator-list li span {
    font-family: 'Bakbak One', cursive;
    font-size: 13px;
    transition: all .2s;
    cursor: pointer;
    color: #263238;
}
.navigator-list li a {
    text-decoration: none;
}
.nav-bar-main {
    padding-top: 32px;
    width: 100%;
}

.navigator-list li span:hover {
    color: #ff8c92;
}


@media (min-width: 1440px) {
    .nav-bar-main, .home-head-wrapper, .home-second-section-wrapper, .home-3rd-section-wrapper, .home-4th-section-wrapper, .home-5th-section-wrapper, .about-head-wrapper {
        padding-inline: 8%;
    }
}

@media (min-width: 1800px) {
    .nav-bar-main, .home-head-wrapper, .home-second-section-wrapper, .home-3rd-section-wrapper, .home-4th-section-wrapper, .home-5th-section-wrapper, .about-head-wrapper {
        padding-inline: 13%;
    }
}
