.portfolio-head-wrapper {
    padding-top: 50px;
}
.portfolio-head-inner-wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    column-gap: 100px;
    row-gap: 50px;
}
.project-wrapper {
    max-height: none;
}

@media (max-width: 1150px) {
    .portfolio-head-inner-wrapper {
        column-gap: 30px;
    }
}

@media (max-width: 910px) {
    .nav-bar-main, .contact-1st-section-wrapper, .portfolio-head-wrapper, .about-2nd-section-wrapper, .home-head-wrapper, .home-second-section-wrapper, .home-3rd-section-wrapper, .home-4th-section-wrapper, .home-5th-section-wrapper, .about-head-wrapper {
        padding-inline: 5%;
    }
}

@media (max-width: 870px) {
    .portfolio-head-inner-wrapper {
        grid-template-columns: 1fr;
    }
}