.portfolio-head-wrapper {
    padding-top: 50px;
}
.portfolio-head-inner-wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    column-gap: 100px;
    row-gap: 80px;
}
.project-wrapper {
    max-height: none;
}

@media (max-width: 1150px) {
    .portfolio-head-inner-wrapper {
        column-gap: 30px;
    }
    .project-img-wrapper img {
        height: 270px;
    }
}

@media (max-width: 910px) {
    .project-img-wrapper img {
        height: 200px;
    }
}

@media (max-width: 870px) {
    .portfolio-head-inner-wrapper {
        grid-template-columns: 1fr;
    }
    .project-img-wrapper img {
        height: 360px;
    }
}